{% extends "page.html" %}

{% block pagescripts %}
<script type="text/javascript" src="/lib/underscore/underscore.js"></script>
<script type="text/javascript" src="/lib/backbone/backbone.js"></script>
<script type="text/javascript" src="/lib/nunjucks/browser/nunjucks.min.js"></script>
<script type="text/javascript" src="/lib/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/js/lifestream.js"></script>
{% endblock %}

{% block lifestreamnavclass %} class="current" {% endblock %}